<div>
	<%= label_tag :mwst19 %>
	<br />
	<%= text_field_tag :mwst19 %>
</div>
<div>
	<%= label_tag :logo %>
	<br />
	<%= text_field_tag :logo %>
</div>
<div>
	<%= label_tag :address %>
	<br />
	<%= text_field_tag :address %>
</div>
<div>
	<%= label_tag :signatur %>
	<br />
	<%= text_field_tag :signatur %>
</div>
<div>
	<%= label_tag :footer %>
	<br />
	<%= text_field_tag :footer %>
</div>
<div>
	<%= label_tag :unitprice %>
	<br />
	<%= text_field_tag :unitprice %>
</div>
<br/>
