<p>
	<b>Vorname:</b>
	<%= @customer.firstname %>
</p>
<p>
	<b>Nachname:</b>
	<%= @customer.lastname %>
</p>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<% @address = Address.new %>
<% @addresses = @customer.addresses %>
<% @addresses.each do |a| %>
<p>
	<b>Ort:</b>
	<%= a.city %>
</p>
<p>
	<b>PLZ:</b>
	<%= a.plz %>
</p>
<p>
	<b>Strasse:</b>
	<%= a.street %>
</p>
<!-- TO DO
	zum implementieren, loescht nur die adresse nicht den Kunden -->
<!-- <%#= link_to 'loeschen', a, :confirm => 'sicher?', :method => :delete %> -->
<br>
<%end%>
<%= link_to 'Zurueck', customers_path %> 
