
<div>
	<%= label_tag :Ort %>
	<br />
	<%= text_field_tag "add[city]", @address.city %>
</div>
<div>
	<%= label_tag :PLZ %>
	<br />
	<%= text_field_tag "add[plz]", @address.plz %>
</div>
<div>
	<%= label_tag :Strasse %>
	<br />
	<%= text_field_tag "add[street]", @address.street %>
</div>
<br/>

