<%= form_tag(customers_show_path()) do |c| %>
<div>
	<%= label_tag :Vorname %>
	<br />
	<%= text_field_tag :firstname %>
</div>
<div>
	<%= label_tag :Nachname %>
	<br />
	<%= text_field_tag :lastname %>
</div>
<div>
	<%= label_tag :Firmenname %>
	<br />
	<%= text_field_tag :companyname %>
</div>
<div>
	<%= label_tag :Emailadresse %>
	<br />
	<%= email_field_tag :email %>
</div>
<div>
<%= submit_tag "Rechnung anlegen" %>
</div>
<% end %>
<% render 'addresses/addressform'%>
