

<div>
	<%= label_tag :Vorname %>
	<br />
	<%= text_field_tag "cust[firstname]", @customer.firstname %>
</div>
<div>
	<%= label_tag :Nachname %>
	<br />
	<%= text_field_tag "cust[lastname]", @customer.lastname %>
</div>
<div>
	<%= label_tag :Firmenname %>
	<br />
	<%= text_field_tag "cust[companyname]", @customer.companyname  %>
</div>
<div>
	<%= label_tag :Emailadresse %>
	<br />
	<%= email_field_tag "cust[email]", @customer.email  %>
</div>

<br/>
<%= render 'addresses/addressform'%>
<!-- <%#@customerattribute = CustomerAttribute.new%> -->
<%= render 'invoices/pdfoptions'%>
