<%= form_tag(customers_path()) do %>
<div>
	<%= label_tag :Ort %>
	<br />
	<%= text_field_tag :city %>
</div>
<div>
	<%= label_tag :PLZ %>
	<br />
	<%= text_field_tag :plz %>
</div>
<div>
	<%= label_tag :Strasse %>
	<br />
	<%= text_field_tag :street %>
</div>
<br/>
<div>
	<%= submit_tag "Kunde anlegen" %>
</div>
<% end %>
<%= link_to 'Zurueck', customers_path() %>