<% @invoicepos = InvoicePoss.new %>
<%= form_tag do %>
Rechnungspositionen:
<table>
	<tr>
		<td> <%= label_tag(:invoiceposnr, "Positionsnummer") %> </td>
		<td> <%= label_tag(:description, "Positionsbescheibung") %> </td>
		<td> <%= label_tag(:qty, "Menge") %> </td>
		<td> <%= label_tag(:unitprice, "Preis") %> </td>
		<td> <%= label_tag(:total, "Gesamt") %> </td>
	</tr>
	<tr>
		<td> <%= text_field_tag(:invoiceposnr) %></td>
		<td> <%= text_field_tag(:description) %></td>
		<td> <%= text_field_tag(:qty) %></td>
		<td> <%= text_field_tag(:unitprice) %></td>
		<td> <%= text_field_tag(:total) %></td>
	</tr>
</table>
	<%= submit_tag ("Rechnungsposition anlegen")%>
<% end %>
<br>
<br>
<%= link_to 'Zurueck', invoices_path %> 