<!-- print options -->
<!-- <%#= form_tag(invoices_savepdf_path(:id => @invoice.id)) do %> -->
<!-- <b> Druckoptionen:</b> -->
<p>
<!-- 	<%# @customerattribute = CustomerAttribute.find_by_customer_id(@customer.id)%> -->
<!-- 	<%# puts "###################### #{@customerattribute}"%> -->

	delphit logo anzeigen? <%= check_box_tag("custatt[logo]", value ="1", checked = @customerattribute.logo)%> <br/>
	delphit adresse anzeigen? <%= check_box_tag("custatt[address]", value ="1", checked = @customerattribute.address)%><br/>
	Unterschrift anzeigen? <%= check_box_tag("custatt[signature]", value ="1", checked = @customerattribute.signature)%><br/>
	Fusszeile anzeigen? <%= check_box_tag("custatt[footer]", value ="1", checked = @customerattribute.footer)%><br/>
	Einzelpreis anzeigen? <%= check_box_tag("custatt[unitprice]", value ="1", checked = @customerattribute.unitprice)%><br/>
	<%= hidden_field_tag(:save, 1 )%>
	<%= hidden_field_tag("custatt[hidden]", "1" )%>
</p>
<!-- <%#= submit_tag ("Druckbare Rechnung (PDF)")%> -->
<!-- <%#end%> -->
