<!-- print options -->

<%= form_tag(invoices_showpdf_path(:id => @invoice.id)) do %>

<b> Druckoptionen:</b>
<p>
	delphit logo anzeigen? <%= check_box_tag(:logo, "1", true)%> <br/>
	delphit adresse anzeigen? <%= check_box_tag(:address, value ="1", checked = true)%><br/>
	Unterschrift anzeigen? <%= check_box_tag(:signature, value ="1", checked = true)%><br/>
	Fusszeile anzeigen? <%= check_box_tag(:footer, value ="1", checked = true)%><br/>
	Einzelpreis anzeigen? <%= check_box_tag(:unitprice, value ="1", checked = true)%><br/>
</p>
<%= submit_tag ("Druckbare Rechnung (PDF)")%>
<%end%>
