<% @customer = @invoice.customer %>
<% @invoiceposses = InvoicePoss.find_all_by_invoice_id(@invoice.id) %>
<p>
	<b>Rechnungsnummer:</b>
	<%= @invoice.invoicenr %>
</p>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<%= render 'invoice_posses/newinvoicepos' %>
<%= render 'pdfoptions' %>
<br/>


<%= link_to 'Zurueck', invoices_path() %> 
<!-- <%#= link_to 'Druckbare Rechnung (PDF)', invoices_showpdf_path(:id => @invoice.id) %> -->
<%= link_to 'Loeschen', @invoice, :confirm => 'Sind Sie sicher?', :method => :delete %>


