
<% @customer = @invoice.customer %>
<% @invoiceposses = InvoicePoss.find_all_by_invoice_id(@invoice.id) %>
<p>
	<b>Rechnungsnummer:</b>
	<%= @invoice.invoicenr %>
</p>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<p>
	<b>Rechnungsdatum:</b>
	<%= @invoice.date %>
</p>
<%= render 'invoice_posses/newinvoicepos' %>

<%= form_tag(invoices_savepdf_path(:id => @invoice.id)) do %>
<% @customerattribute = CustomerAttribute.find_by_customer_id(@customer.id)%>
<b> Druckoptionen:</b><br/>

<%= render 'pdfoptions' %>
<%= submit_tag ("Druckbare Rechnung (PDF)")%>
<%end%>

<br/>

<%= link_to 'Zurueck', invoices_path() %> 
<!-- <%#= link_to 'Druckbare Rechnung (PDF)', invoices_showpdf_path(:id => @invoice.id) %> -->
<%= link_to 'Löschen', @invoice, :confirm => 'Sind Sie sicher?', :method => :delete %>


