<%= form_for(@invoice) do |i| %>
<% @invoicepos = InvoicePoss.new %>
<%= form_for(@invoicepos) do |ip| %>
<div class="field">
	<%= i.label :Rechnungsnummer %>
	<br />
	<%= i.text_field :invoicenr %>
</div>
Firma waehlen
<br/>
<select id="customer_id" name="customer[id]">
	<% @cust = Customer.find(:all, :order => "companyname")
	@cust.each do |cust| %> <option value="<%= cust.id %>"
	<% if @invoice.customer_id == cust.id %> selected="selected" <% end %>
	> <%= cust.companyname %> </option>
	<% end %>
</select>
<br/>
<br/>
<!-- TODO: schickt keine rechnungspos ID !!! -->
Rechnungspositionen:
<table>
	<tr>
		<td class="field"> <%= ip.label :Positionsnummer %> </td>
		<td class="field"> <%= ip.label :Positionsbescheibung %> </td>
		<td class="field"> <%= ip.label :Menge %> </td>
		<td class="field"> <%= ip.label :Preis %> </td>
		<td class="field"> <%= ip.label :Gesamt %> </td>
	</tr>
	<tr>
		<td> <%= ip.text_field :invoiceposnr %></td>
		<td> <%= ip.text_field :description %></td>
		<td> <%= ip.text_field :qty %></td>
		<td> <%= ip.text_field :unitprice %></td>
		<td> <%= ip.text_field :total %></td>
	</tr>
</table>
<br/>
<br/>
<div class="actions">
	<%= i.submit "Rechnung anlegen"%>
</div>
<% end %>
<% end %>
<br>
<br>
<%= link_to 'Zurueck', invoices_path %> 