<% @customer = Customer.new %>
<% @customer = @invoice.customer %>
<% @invoiceposses = @invoice.invoice_posses %>
<p>
	<b>Rechnungsnummer:</b>
	<%= @invoice.invoicenr %>
</p>
<p>
	<b>Firmenname:</b>
	<%= @customer.companyname %>
</p>
<p>
	<b>Rechnungspositionen:</b>
	<br/>
	<% @invoiceposses.each do |ip|%>
	<br/>
	<b>RechnungPosNnummer:</b>
	<%= ip.invoiceposnr%>
	<br/>
	<b>Beschreibung:</b>
	<%= ip.description%>
	<br/>
	<b>Menge:</b>
	<%= ip.qty%>
	<br/>
	<b>StueckPreis:</b>
	<%= ip.unitprice%>
	<br/>
	<b>Total:</b>
	<%= ip.total%>
	<br/>
</p>
<%end%>
<%= render 'invoice_posses/newinvoicepos' %>
<br/>
<br/>
<br/>
<%= link_to 'Zurueck', invoices_path %> 